.root {
    -fx-background-color: #2c3e50;
    background-color: #2c3e50;
    /* Couleur de fond spécifique JavaFX et standard */
    -fx-font-size: 14px;
    font-size: 14px;
    /* Taille du texte */
    -fx-font-weight: bold;
    font-weight: bold;
    /* Texte en gras */
}

.button {
    background-color: #3498db;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    /* Couleur du texte spécifique JavaFX */
    -fx-background-radius: 10;
    /* Arrondi du fond spécifique JavaFX */
}

.vbox {
    -fx-alignment: center;
    /* Alignement spécifique JavaFX */
    -fx-spacing: 20;
    /* Espacement spécifique JavaFX */
}

/* Note :            Les proprietes doivent etre ecrites de deux (standard et JavaFX pour la compatibilité de Vscode
                                  Lien vers Oracle : https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html                                     

*/